<div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModal" data-backdrop="static"
     data-keyboard="false"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Product?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"
                (click)="resetForm(); productData.reset(formDefaultValues); ">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form #productData="ngForm" class="needs-validation" (ngSubmit)="insertNewProduct(productData.value)">
          <div class="form-row">
            <div class="col-md-12 mb-3">
              <label for="productName">Product Name</label>
              <input
                ngModel
                name="name"
                #productName="ngModel"
                type="text "
                class="form-control"
                [class.is-valid]="productName.touched && productName.valid"
                [class.is-invalid]="productName.touched && productName.invalid"
                id="productName"
                placeholder="Product Name"
                required
                minlength="5">
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please provide a valid name.
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <label for="productPrice">Product Price</label>
              <input
                ngModel
                name="price"
                #productPrice="ngModel"
                type="number"
                class="form-control"
                [class.is-valid]="productPrice.touched && productPrice.valid"
                [class.is-invalid]="productPrice.touched && productPrice.invalid"
                id="productPrice"
                placeholder="Product Price"
                required
                min="0">
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please provide a valid price.
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <label for="productDiscount">Product Discount</label>
              <input
                ngModel
                name="discount"
                #productDiscount="ngModel"
                type="number"
                class="form-control"
                [class.is-valid]="productDiscount.touched && productDiscount.valid"
                [class.is-invalid]="productDiscount.touched && productDiscount.invalid"
                id="productDiscount"
                placeholder="Product Discount"
                required
                min="0"
                max="1"
                step=".01">
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please provide a valid discount.
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <label for="productQuantity">Product Quantity</label>
              <input
                ngModel
                name="quantity"
                #productQuantity="ngModel"
                type="number"
                class="form-control"
                [class.is-valid]="productQuantity.touched && productQuantity.valid"
                [class.is-invalid]="productQuantity.touched && productQuantity.invalid"
                id="productQuantity"
                placeholder="Product Quantity"
                required
                min="1">
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please provide a valid discount.
              </div>
            </div>

          </div>
          <div class="form-row">
            <div class="col-md-12 mb-3">
              <label for="productDescription">Product Description</label>
              <textarea
                ngModel
                name="description"
                #productDesc="ngModel"
                class="form-control"
                [class.is-valid]="productDesc.touched && productDesc.valid"
                [class.is-invalid]="productDesc.touched && productDesc.invalid"
                id="productDescription"
                placeholder="Product Description"
                cols="30"
                rows="4"
                required>
                            </textarea>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please provide a valid description.
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <label for="category">Product Category</label>
              <select
                ngModel
                name="category"
                #productCategory="ngModel"
                class="custom-select form-control"
                [class.is-valid]="productCategory.touched && productCategory.valid"
                [class.is-invalid]="productCategory.touched && productCategory.invalid"
                id="category">
                <option value="" selected>Select Category</option>
                <option *ngFor="let category of categoryList" [ngValue]="category">{{category.name}}</option>
              </select>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please provide a valid category.
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <label for="species">Product Species</label>
              <select
                ngModel
                name="species"
                #productSpecies="ngModel"
                class="custom-select form-control"
                [class.is-valid]="productSpecies.touched && productSpecies.valid"
                [class.is-invalid]="productSpecies.touched && productSpecies.invalid"
                id="species">
                <option value="" selected>Select Species</option>
                <option *ngFor="let species of speciesList" [ngValue]="species">{{species.speciesName}}</option>
              </select>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please provide a valid species.
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <label for="brand">Product Brand</label>
              <select
                ngModel
                name="brand"
                #productBrand="ngModel"
                [class.is-valid]="productBrand.touched && productBrand.valid"
                [class.is-invalid]="productBrand.touched && productBrand.invalid"
                class="custom-select form-control"
                id="brand">
                <option value="" selected>Select brand</option>
                <option *ngFor="let brand of brandList" [ngValue]="brand">{{brand.name}}</option>
              </select>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please provide a valid brand.
              </div>
            </div>

          </div>
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <div class="form-check">
                <input
                  ngModel
                  name="available"
                  class="form-check-input"
                  type="checkbox"
                  [ngModel]="false"
                  id="productAvailability">
                <label class="form-check-label" for="productAvailability">
                  Product Availability
                </label>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-12 mb-3">
              <div class="custom-file">
                <input
                  id="images"
                  name="images"
                  type="file"
                  class="custom-file-input"
                  accept="image/*"
                  multiple
                  (change)="changeImages($event.target)">
                <label class="custom-file-label" for="images">Choose Images</label>
              </div>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please choose product images.
              </div>
            </div>
          </div>

<!--          {{productData.value|json}}-->

          <div class="row mx-3 my-3">
            <div *ngFor="let image of images" class="imgContainer my-1 col-4" (click)="deleteImage(image.name)">
              <img [src]="image.url"
                   class="image p-1 w-100 h-100 border border-3 border-light rounded shadow-sm"
                   alt="Product Image">
              <div class="overlay mx-2 rounded">
                <div class="text text-uppercase font-weight-bolder">Delete</div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button class="btn btn-secondary" id="modalCloseBtn" type="button" data-dismiss="modal"
                    (click)="resetForm(); productData.reset(formDefaultValues); ">Cancel
            </button>
            <button class="btn btn-primary" type="submit" [disabled]="productData.invalid">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
