<div *ngIf="providers.length > 0" class="table-responsive">
  <table class="table table-hover">
    <thead>
    <tr>
      <th class="text-center" scope="col">#</th>
      <th class="text-center" scope="col">Full Name</th>
      <th class="text-center" scope="col">Email</th>
      <th class="text-center" scope="col">Username</th>
      <th class="text-center" scope="col">Phone Number</th>
      <th class="text-center" scope="col">Street</th>
      <th class="text-center" scope="col">City</th>
      <th class="text-center" scope="col">Country</th>
      <th class="text-center" scope="col">Gender</th>
      <th class="text-center" scope="col">Birth Date</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let provider of providers | paginate: {itemsPerPage: pageLimit, currentPage: page, totalItems: count}">
      <th class="text-center" scope="row">{{provider.id}}</th>
      <td class="text-center">{{provider.firstName + ' ' + provider.lastName}}</td>
      <td class="text-center">{{provider.email}}</td>
      <td class="text-center">{{provider.userName}}</td>
      <td class="text-center">{{provider.phoneNumber}}</td>
      <td class="text-center">{{provider.address.street}}</td>
      <td class="text-center">{{provider.address.city}}</td>
      <td class="text-center">{{provider.address.country}}</td>
      <td class="text-center text-uppercase">{{provider.gender}}</td>
      <td class="text-center">{{provider.birthDate | date:'dd/M/yyyy'}}</td>
    </tr>
    </tbody>
  </table>
</div>
<div class="container-fluid">
  <div class="row justify-content-center">
    <pagination-controls
      [autoHide]="true"
      [maxSize]="5"
      [responsive]="true"
      (pageChange)="pageChanged($event)">
    </pagination-controls>
  </div>
</div>
