      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"  id="accordionSidebar" >

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
          <div class="sidebar-brand-icon rotate-n-15">
             <i class="fas fa-paw"></i>
          </div>
          <div class="sidebar-brand-text mx-3">Pet Store</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" href="#">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <li class="nav-item">
          <a class="nav-link pt-0" routerLink="/new-user-admin">
            <i class="fas fa-user fa-tachometer-alt"></i>
            <span>Add New Admin</span></a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">

        <li class="nav-item">
          <a class="nav-link pt-0" routerLink="/products">
            <i class="fas fa-cat"></i>
            <span>Products</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link pt-0" routerLink="/services">
            <i class="fas fa-concierge-bell"></i>
            <span>Services</span></a>
        </li>

        <!-- Heading -->
<!--        <div class="sidebar-heading">-->
<!--          Products-->
<!--        </div>-->

        <!-- Nav Item - Pages Collapse Menu -->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProducts" aria-expanded="true" aria-controls="collapseProducts">-->
<!--            <i class="fas fa-cat"></i>-->
<!--            <span>Products</span>-->
<!--          </a>-->
<!--          <div id="collapseProducts" class="collapse" aria-labelledby="headingProducts" data-parent="#accordionSidebar">-->
<!--            <div class="bg-white py-2 collapse-inner rounded">-->
<!--              <h6 class="collapse-header">Animals:</h6>-->
<!--              <a class="collapse-item" href="#">Animals</a>-->

<!--              <h6 class="collapse-header">Supplies:</h6>-->
<!--              <a class="collapse-item" href="#">Food</a>-->
<!--              <a class="collapse-item" href="#">Treats</a>-->
<!--              <a class="collapse-item" href="#">Supplies</a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </li>-->

<!--        &lt;!&ndash; Nav Item - Services Collapse Menu &ndash;&gt;-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseServices" aria-expanded="true" aria-controls="collapseServices">-->
<!--            <i class="fas fa-concierge-bell"></i>-->
<!--            <span>Services</span>-->
<!--          </a>-->
<!--          <div id="collapseServices" class="collapse" aria-labelledby="headingServices" data-parent="#accordionSidebar">-->
<!--            <div class="bg-white py-2 collapse-inner rounded">-->
<!--              <h6 class="collapse-header">Custom Services:</h6>-->
<!--              <a class="collapse-item" href="#">Transportation</a>-->
<!--              <a class="collapse-item" href="#">Shelter finder</a>-->
<!--              <a class="collapse-item" href="#">Housing</a>-->
<!--              <a class="collapse-item" href="#">Aquarium</a>-->
<!--              <a class="collapse-item" href="#">Grooming</a>-->
<!--              <a class="collapse-item" href="#">Training</a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </li>-->

<!--        &lt;!&ndash; Nav Item - Orders Collapse Menu &ndash;&gt;-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOrders" aria-expanded="true" aria-controls="collapseOrders">-->
<!--            <i class="fas fa-truck-moving"></i>-->
<!--            <span>Orders</span>-->
<!--          </a>-->
<!--          <div id="collapseOrders" class="collapse" aria-labelledby="headingOrders" data-parent="#accordionSidebar">-->
<!--            <div class="bg-white py-2 collapse-inner rounded">-->
<!--              <h6 class="collapse-header">Orders</h6>-->
<!--              <a class="collapse-item" href="#">Pending Orders</a>-->
<!--              <a class="collapse-item" href="#">Done Orders</a>-->

<!--            </div>-->
<!--          </div>-->
<!--        </li>-->

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
          Users
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item active">
          <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseUsers" aria-expanded="true" aria-controls="collapseUsers">
            <i class="fas fa-user"></i>
            <span>Users</span>
          </a>
          <div id="collapseUsers" class="collapse" aria-labelledby="headingUsers" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">System Users:</h6>
              <a class="collapse-item" routerLink="/admins">Admins</a>
              <a class="collapse-item" routerLink="/customers">Customers</a>
              <a class="collapse-item" routerLink="/providers">Providers</a>
              <a class="collapse-item" routerLink="/sellers">Sellers</a>
            </div>
          </div>
        </li>

        <!-- Nav Item - Charts
        <li class="nav-item">
          <a class="nav-link" href="charts.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Charts</span></a>
        </li>-->

        <!-- Nav Item - Tables
        <li class="nav-item">
          <a class="nav-link" href="tables.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Tables</span></a>
        </li>
      -->

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

      </ul>
      <!-- End of Sidebar -->
